@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next,
.tienda-prev,
.tienda-next,
.atardecer-prev,
.atardecer-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus,
.tienda-prev:hover,
.tienda-prev:focus,
.tienda-next:hover,
.tienda-next:focus,
.atardecer-prev:hover,
.atardecer-prev:focus,
.atardecer-next:hover,
.atardecer-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before,
.tienda-prev:hover:before,
.tienda-prev:focus:before,
.tienda-next:hover:before,
.atardecer-next:focus:before,
.atardecer-prev:hover:before,
.atardecer-prev:focus:before,
.atardecer-next:hover:before,
.atardecer-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before,
.tienda-prev.slick-disabled:before,
.tienda-next.slick-disabled:before,
.atardecer-prev.slick-disabled:before,
.atardecer-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before,
.tienda-prev:before,
.tienda-next:before,
.atardecer-prev:before,
.atardecer-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev,
.tienda-prev
{
    left: 1px;
    z-index: 5;
}

.atardecer-prev{
    left:-42px;
}

[dir='rtl'] .slick-prev, [dir='rtl'] .tienda-prev,  [dir='rtl'] .atardecer-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    width: 20px;
    content: " ";
    background-image: url(../img/left.png);
    position: absolute;
    left: 2px;
    top: -6px;
    height:26px;
}

.tienda-prev:before
{
    width: 10px;
    content: " ";
    background-image: url(../img/left-tienda.png);
    position: absolute;
    left: 2px;
    top: 0px;
    height:18px;
}

.atardecer-prev:before
{
    width: 10px;
    content: " ";
    background-image: url(../img/left-atardecer.png);
    position: absolute;
    left: 2px;
    top: 0px;
    height:18px;
}

.slick-list.draggable{
    padding: 0px!important;
    margin-left: 0px;
}

body > section.middle > div > div > div > div > div.stores.slick-initialized.slick-slider > div{
    margin-left: 2px;
}

[dir='rtl'] .slick-prev:before,
[dir='rtl'] .tienda-prev:before,
[dir='rtl'] .atardecer-prev:before
{
    content: '→';
}

.slick-next, .tienda-next
{
    right: 1px;
    z-index: 5;
}

.atardecer-next
{
    right: 5px;
    z-index: 5;
}

[dir='rtl'] .slick-next, [dir='rtl'] .tienda-next, [dir='rtl'] .atardecer-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    width: 20px;
    content: " ";
    background-image: url(../img/right.png);
    position: absolute;
    left: -5px;
    top: -6px;
    height:26px;

}

.tienda-next:before
{
    width: 10px;
    content: " ";
    background-image: url(../img/right-tienda.png);
    position: absolute;
    left: 10px;
    top: 0px;
    height:18px;
    z-index: 1;
}

.atardecer-next:before
{
    width: 10px;
    content: " ";
    background-image: url(../img/right-atardecer.png);
    position: absolute;
    left: 10px;
    top: 0px;
    height:18px;
    z-index: 1;
}

[dir='rtl'] .slick-next:before, [dir='rtl'] .tienda-next:before, [dir='rtl'] .atardecer-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


@media screen and (max-width:480px) {

    .atardecer-prev {
        left: 10px;
        margin-top: 10px;
    }

    .atardecer-next{
        margin-top: 10px;
        right: 10px;
    } 

    .tienda-next {
        right: 10px;
    }

    .tienda-prev {
        left: 5px;
    }


}